.iconButton {
  display: grid;
  place-items: center;
  border: none;
  background-color: transparent;
  width: 36px;
  height: 36px;
  cursor: pointer;
  
  & svg {
    color: #E6E1E5;
    transition: 200ms;
  }

  &:hover {
    & svg {
      transform: scale(1.3);
    }
  }

  &:active {
    & svg {
      transform: scale(0.9);
    }
  }
}