.header {
  display: flex;
  align-items: center;
  padding: 0 .5rem;

  height: 6.4rem;

  flex-shrink: 0;
  background: var(--bg-primary);
  border-bottom: 2px solid var(--primary);

  z-index: 10;

  & .last {
    margin-left: auto;
  }

  & img {
    margin-right: .5rem;
  }

  & h2 {
    display: none;
  }

  @include breakpoints(md) {
    & h2 {
      display: inline;
    } 
  }
}