.sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 250px;
  z-index: 100;

  background-color: var(--bg-primary);
  width: 0px;
  transform: translateX(-250px);
  transition: all 250ms;
  border-right: 2px solid var(--primary);

  flex-shrink: 0;

  &.open {
    width: 250px;
    transform: translateX(0px);
  }

  & .list {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
  }

  & .list-item {
    flex-shrink: 0;
    height: 5.2rem;
    display: grid;
    place-items: center;
  }

  & .link {
    padding: 1.2rem 0;
    text-decoration: none;
    width: 80%;
    text-align: center;
    color: #E6E1E5;
    border-radius: .5rem;
    transition: background 200ms;

    &.active {
      background-color: var(--primary);
      color: var(--bg-primary);
    }

    &:hover {
      border: 2px solid var(--primary);
      border-radius: .5rem;
    }
  }

  @include breakpoints(md) {
    position: relative;
  }
}