.layout {
  height: 100vh;

  display: flex;
  flex-direction: column;
  background-color: #404040;
  overflow: hidden;
}

.body {
  display: flex;
  flex-grow: 1;
  position: relative;

  & .container {
    background-color: var(--bg-secondary);
    height: 100%;
    width: 100%;
    position: relative;

    & .main {
      padding: 20px 50px;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;

      overflow-y: auto;
    }
  }

  & .backdrop {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 90;
    pointer-events: none;
    opacity: 0;
    transition: opacity 200ms;

    &.open {
      background-color: rgba(0, 0, 0);
      opacity: 0.8;
      pointer-events: all;
    }
  }
}